.cart {
  margin-bottom: 2.1875rem;

  &-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 130%;
    margin-bottom: 1.25rem;
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.1875rem;
  }

  &-back-link {
    margin-top: 0;
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%;
  }

  &-main {
    display: flex;
  }

  &-grid {
    display: block;
    border-top: 1px solid #a7a7a7;
    padding-top: 2.5rem;
    width: 100%;
  }

  &-form-wrapper {
    border: 2px solid #000;
    border-radius: 1.25rem;
    padding: 1.5625rem;
    position: sticky;
    top: 150px;
    margin-left: 5.3125rem;
    margin-top: 0;
    min-width: 31rem;
  }

  &-form-title {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: .03em;
    line-height: 130%;
    margin-bottom: 2.9375rem;
  }

  &-form-sum {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125rem;
  }

  &-form-sum-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 130%;
    margin-bottom: 0;
  }

  &-form-sum-number {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .03em;
    line-height: 130%;

    & span {
      font-size: .625rem;
    }
  }

  &-form-input {
    height: 4.5625rem;
    margin-bottom: 1.5625rem;

    & input {
      border: 1px solid #000;
      border-radius: 1.25rem;
      display: block;
      font-size: 1.125rem;
      font-weight: 500;
      height: 100%;
      letter-spacing: .03em;
      line-height: 130%;
      outline: 0;
      padding: 0 1.5625rem;
      transition: all .2s ease-in-out;
      width: 100%;
    }
  }

  &-form-button {
    background-color: #393;
    border: 2px solid #393;
    border-radius: 17px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 130%;
    padding: 1.25rem;
    transition: all .2s ease-in-out;
    font-size: 1.75rem;
  }
}

.breadcrumbs-list {
  display: flex;

  & li {
    font-weight: 500;
    margin-right: 1ch;
  }
}
